.register-modal {
  flex-grow: 1;
  width: 0;
  justify-content: center;
  border-right: 1px solid black;
  background: green;
  padding: 100px;
  height: 200px;
}

.login-form {
  flex-grow: 1;
  display: block;
  width: 0;
  padding: 100px;
}

.login-page {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: red;
}



.register-modal__register-link {
  padding: 10px 0px;
  background: yellow;
  text-align: center;
  display: block;
}

.register-modal__register-link:hover {
  background: green;
}

.login-page-root {
  flex-direction: column;
  background: blue;
  width: 60%;
  margin: 0 auto;
}
