.header {
  display: flex;
  flex-direction: row;
}

.header__logo-container {
  height: 100px;
  margin: 1%;
}

.header__logo {
  height: 100%;
}

.header__nav {
  flex-grow: 1;
  height: 100px;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background: yellow;
  height: 100px;
}

.nav__item {
  flex-grow: 1;
  display: flex;
  padding: 30px;
}

.nav__link {
  background: #c001af;
  padding: 10px;
  flex: 1;
}

.nav__link:hover {
  background: green;
}

.flex {
  display: flex;
}

.bold {
  font-weight: 900;
}

