@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");

p,
h1,
h2,
h3,
a,
label {
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
}

.header__logo-container {
  height: 100px;
  margin: 1%;
}

.header__logo {
  height: 100%;
}

.header__nav {
  flex-grow: 1;
  height: 100px;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background: yellow;
  height: 100px;
}

.nav__item {
  flex-grow: 1;
  display: flex;
  padding: 30px;
}

.nav__link {
  background: #c001af;
  padding: 10px;
  flex: 1;
  text-align: center;
  text-decoration: none;
}

.nav__link:hover {
  background: green;
}

.flex {
  display: flex;
}

.bold {
  font-weight: 900;
}

.page-title {
  margin: 0px 0px;
  width: 70%;
}

.page-description {
  margin: 2% 0;
}
